<div class="mt-4">
  <form method="GET" action="/news">

  <div class="form-group">
    <label for="search-input">Từ khóa</label>
    <input type="text" name="fullname" class="form-control mt-2" placeholder="Nhập họ tên">
    <input type="text" name="age" class="form-control mt-2" placeholder="Nhập tuổi">
    <input type="text" name="q" class="form-control mt-2" id="search-input" placeholder="Nhập từ khóa">
  </div>
  
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>

</form>
</div>
